body {
    background-image: url(assets/windowsBackground.jpg);
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: auto;

}
.contentWrapper {
    margin: 0 auto;
}
#searchBar {
    float: right;
    position: relative;
}
#thumbnail {
    width: 2em;
    height: 2em;
    padding-right: 2em;
}
nav li {
    display: inline-block;
    list-style: none;
}
#topNavbar {
    padding-left: 3.4em;
    max-width: 2000px;
    min-width: 500px;
    margin-top: -1em;
}
nav#topNavbar ul li{
    padding-right: 2em;
}
a { 
    text-decoration: none;
    color: black;
}
a:hover {
    color:brown;
}
header {
    background-color: goldenrod;
    margin: 0 auto;
    position: fixed; top: -32px;
    min-width: 100%;
    height: 12em;
    /* improve method of getting rid of top margin */
    z-index: 1;
}
header h1{
    padding: .75em 0 0 .75em;
    font-size: 3em;
    max-width:1040px;
    min-width: 900px;
}

.panel {
    float: left;
    width:300px;
    position: relative;
    padding: 1em 2em;
    border: 2px inset black;
}
#panel1 {
    background-color: white;
}
#panel2 {
    background-color: tan;
}
#panel3 {
    background-color: goldenrod;
}

div.panel h2 {
    text-align: center;
}
#checkbox {
    height: 1em;
    width: 1em;
}
div.panel p {
    padding: 1em;
    text-align: center;
}
.purchase {
    background-color: silver;
}
.purchase:hover {
    background-color: lightsalmon;
}
section#plansAndPricing {
    padding: 10em 5% 0 5%;
    display: inline-block;
    position: relative;
    align-items: center;
}
h1#body {
    text-align: center;
    font-size: 2em;
}

section#testamonials {
    padding: 10em 5% 0 5%;
    display: inline-block;
    position: relative;
    align-items:center;

}
section#testamonials div {
    float: left;
    max-width:1040px;
    min-width: 450px;
    position: relative;
    padding: 2em;
    border: 2px inset black;
    background-color: tan;
}
.centeredTestamonials {
    text-align: center;
}
#italics {
    font-style: italic;
}
section#aboutUs {
    padding: 10em 5% 0 5%;
    display: inline-block;
    position: relative;
    align-items:center;

}
section#aboutUs div {
    float: left;
    max-width:1040px;
    min-width: 150px;
    position: relative;
    padding: 2em;
    border: 2px inset black;
    background-color: tan;
}
section#contactUs {
    padding: 10em 5% 0 5%;
    display: inline-block;
    position: relative;
    align-items:center;
    margin: 0 12% 0 12%;
}
section#contactUs div {
    float: left;
    max-width:1040px;
    min-width: 250px;
    position: relative;
    padding: 2em;
    border: 2px inset black;
    background-color: tan;
}

footer {
    padding: 2em 5% 0 5%;
    display: inline-block;
    position: relative;
    text-align: center;
    width: 1110px;
    color: white
    
}