body {
    background-image: url(assets/windowsBackground.jpg);
    background-position: fixed;
    background-size: cover; 
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
.contentWrapper {
    margin: auto;
}
#searchBar {
    float: right;
    position: relative;

}
#thumbnail {
    width: 2em;
    height: 2em;
}
nav li {
    display: inline-block;
    list-style: transparent;

}
header {
    background-color: burlywood;
    margin: 0;
    padding: 0;
    height: 10em;
    position: relative; top: -32px;
    /* improve method of getting rid of top margin */
 
}

ul li {
    display: inline-block;
    list-style: transparent;
}

.panel {
    float: left;
    width: 300px;

}

#testamonials {
    width: 100%;
}